# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# macOS system files
.DS_Store

# Virtual environments
venv/
.env/

# Ignore LFS model if not tracked correctly
*.h5
*.ckpt

# Ignore Python virtual environments
venv/
backend/venv/